{# TODO: sort out using this top bar nav #}
{# <a class="menuitem" href="{{url.base}}events/">Past Events</a>
<a class="menuitem" href="{{url.base}}photos-and-videos/">Photos &amp; Videos</a>
<a class="menuitem" href="{{url.base}}convocations/">Convocations</a> #}