<div class="digraph-card incidental">
    <p>
        <a href="{{policy.url('versions')|raw}}">The revision history of this policy's web page is available online.</a>
        Online revision histories may not include all revisions prior to 2019.
    </p>
</div>