#unm_search_form {
  display: none !important;
}

.indented {
  padding-left: 2em;
}

.policyinfo {
  background: #E7CBA6;
  border: 1px solid #d6a461;
  padding: 10pt;
  margin: $(spacing_base) 0;
  border-radius: $(border_radius_accent);
}

div#body-2col-extra {
  flex-basis: 20em;
  max-width: 25em;
  min-width: 20em;
}